In [2]:
import pandas as pd

data=pd.read_csv("movies.csv")

In [3]:
print("Number of movies loaded: %s " % (len(data)))

data

Number of movies loaded: 10000

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811
...,...,...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...",98.322,2010-06-30,4.7,3347
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,12.490,2015-07-22,4.7,417
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...",18.333,1990-12-14,4.6,332
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,15.159,2007-11-29,4.7,668
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,16.482,2019-05-31,4.6,221

In [4]:
data.head()

,id,title,genre,original_language,overview,popularity,release_date,vote_average,vote_count
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,94.075,1994-09-23,8.7,21862
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...",25.408,1995-10-19,8.7,3731
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...",90.585,1972-03-14,8.7,16280
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,44.761,1993-12-15,8.6,12959
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,57.749,1974-12-20,8.6,9811

In [5]:
data.describe()

                  id    popularity  vote_average    vote_count
count   10000.000000  10000.000000  10000.000000  10000.000000
mean   161243.505000     34.697267      6.621150   1547.309400
std    211422.046043    211.684175      0.766231   2648.295789
min         5.000000      0.600000      4.600000    200.000000
25%     10127.750000      9.154750      6.100000    315.000000
50%     30002.500000     13.637500      6.600000    583.500000
75%    310133.500000     25.651250      7.200000   1460.000000
max    934761.000000  10436.917000      8.700000  31917.000000

In [6]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 10000 entries, 0 to 9999
Data columns (total 9 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   id                 10000 non-null  int64
 1   title              10000 non-null  object
 2   genre              9997 non-null   object
 3   original_language  10000 non-null  object
 4   overview           9987 non-null   object
 5   popularity         10000 non-null  float64
 6   release_date       10000 non-null  object
 7   vote_average       10000 non-null  float64
 8   vote_count         10000 non-null  int64
dtypes: float64(2), int64(2), object(5)
memory usage: 703.2+ KB

In [7]:
data.isnull().sum()

id                    0
title                 0
genre                 3
original_language     0
overview             13
popularity            0
release_date          0
vote_average          0
vote_count            0
dtype: int64

In [8]:
data.columns

Index(['id', 'title', 'genre', 'original_language', 'overview', 'popularity',
       'release_date', 'vote_average', 'vote_count'],
      dtype='object')

In [9]:
plot = data[['id', 'title','genre', 'original_language','overview']]

plot.head()

,id,title,genre,original_language,overview
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...

In [10]:
plot['tags'] = plot['overview'] + plot['genre']

C:\Users\Saw YTR\AppData\Local\Temp\ipykernel_12072\4249364009.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plot['tags'] = plot['overview'] + plot['genre']

In [11]:
new_data = plot.drop(columns=['overview', 'genre'])

In [12]:
new_data.head()

,id,title,original_language,tags
0,278,The Shawshank Redemption,en,Framed in the 1940s for the double murder of h...
1,19404,Dilwale Dulhania Le Jayenge,hi,"Raj is a rich, carefree, happy-go-lucky second..."
2,238,The Godfather,en,"Spanning the years 1945 to 1955, a chronicle o..."
3,424,Schindler's List,en,The true story of how businessman Oskar Schind...
4,240,The Godfather: Part II,en,In the continuing saga of the Corleone crime f...

In [21]:
import nltk as nltk
from nltk.tokenize import word_tokenize
import re
from nltk.corpus import stopwords
from nltk.stem.snowball import SnowballStemmer
nltk.download('punkt')

[nltk_data] Downloading package punkt to C:\Users\Saw
[nltk_data]     YTR\AppData\Roaming\nltk_data...
[nltk_data]   Package punkt is already up-to-date!

True

In [22]:

stemmer = SnowballStemmer("english")
def tokenize_and_stem(text):
    if isinstance(text, str):  # Check if the input is a string
        # Tokenize by sentence, then by word
        tokens = [word for sent in nltk.sent_tokenize(text) for word in nltk.word_tokenize(sent)]
        
        # Filter out raw tokens to remove noise
        filtered_tokens = [token for token in tokens if re.search('[a-zA-Z]', token)]
        
        # Stem the filtered tokens
        stems = [stemmer.stem(t) for t in filtered_tokens]
        
        return stems
    else:
        return []  # Return an empty list if the input is not a string

plot['cleaned_overview']= plot['overview'].apply(tokenize_and_stem)

KeyboardInterrupt:

In [17]:
def clean_and_stem(text):
    stemmer = SnowballStemmer("english")
    if isinstance(text,str):
        text = re.sub('[^a-zA-Z0-9\s]', '', text)
        tokens = word_tokenize(text)

        stop_words =set(stopwords.words('english'))
        tokens = (word for word in tokens if word.lower() not in stop_words)

        stemmed_tokens = (stemmer.stem(tokens) for token in tokens)
        return stemmed_tokens
    else:
        return []
# Apply the function to the DataFrame
plot['cleaned_overview'] = plot['overview'].apply(clean_and_stem)

C:\Users\Saw YTR\AppData\Local\Temp\ipykernel_12072\1825656140.py:15: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  plot['cleaned_overview'] = plot['overview'].apply(clean_and_stem)

In [18]:
plot

,id,title,genre,original_language,overview,tags,cleaned_overview
0,278,The Shawshank Redemption,"Drama,Crime",en,Framed in the 1940s for the double murder of h...,Framed in the 1940s for the double murder of h...,<generator object clean_and_stem.<locals>.<gen...
1,19404,Dilwale Dulhania Le Jayenge,"Comedy,Drama,Romance",hi,"Raj is a rich, carefree, happy-go-lucky second...","Raj is a rich, carefree, happy-go-lucky second...",<generator object clean_and_stem.<locals>.<gen...
2,238,The Godfather,"Drama,Crime",en,"Spanning the years 1945 to 1955, a chronicle o...","Spanning the years 1945 to 1955, a chronicle o...",<generator object clean_and_stem.<locals>.<gen...
3,424,Schindler's List,"Drama,History,War",en,The true story of how businessman Oskar Schind...,The true story of how businessman Oskar Schind...,<generator object clean_and_stem.<locals>.<gen...
4,240,The Godfather: Part II,"Drama,Crime",en,In the continuing saga of the Corleone crime f...,In the continuing saga of the Corleone crime f...,<generator object clean_and_stem.<locals>.<gen...
...,...,...,...,...,...,...,...
9995,10196,The Last Airbender,"Action,Adventure,Fantasy",en,"The story follows the adventures of Aang, a yo...","The story follows the adventures of Aang, a yo...",<generator object clean_and_stem.<locals>.<gen...
9996,331446,Sharknado 3: Oh Hell No!,"Action,TV Movie,Science Fiction,Comedy,Adventure",en,The sharks take bite out of the East Coast whe...,The sharks take bite out of the East Coast whe...,<generator object clean_and_stem.<locals>.<gen...
9997,13995,Captain America,"Action,Science Fiction,War",en,"During World War II, a brave, patriotic Americ...","During World War II, a brave, patriotic Americ...",<generator object clean_and_stem.<locals>.<gen...
9998,2312,In the Name of the King: A Dungeon Siege Tale,"Adventure,Fantasy,Action,Drama",en,A man named Farmer sets out to rescue his kidn...,A man named Farmer sets out to rescue his kidn...,<generator object clean_and_stem.<locals>.<gen...
9999,455957,Domino,"Thriller,Action,Crime",en,Seeking justice for his partner’s murder by an...,Seeking justice for his partner’s murder by an...,<generator object clean_and_stem.<locals>.<gen...